@font-face {
  font-family: "GardensC";
  src: url(../font/GardensC.otf);
}
* {
  font-family: GardensC;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.logo-main {
  width: 100px;
}

a {
  text-decoration: none;
  color: rgb(16, 101, 181);
}

.blue-button {
  color: #fff;
  background-color: rgb(16, 101, 181);
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 25px;
}

.blue-text {
  color: rgb(16, 101, 181);
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__phone {
  color: #fff;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__telephone__box {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__call-me {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.promo {
  background: url(../img/sub-bg.png) center/cover;
  margin-top: -90px;
  margin-bottom: -100px;
}
.promo__slider__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 300px;
  padding-bottom: 332px;
}
.promo__slider__box__slides {
  display: flex;
}
.promo__slider__btn__img {
  width: 60px;
  height: 60px;
}
.promo__slide {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo__slide__headline {
  font-size: 32px;
  margin-bottom: 50px;
}
.promo__slide__paragraph {
  font-size: 24px;
}
.promo__slide__text-box {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 400px;
  width: 100%;
}
.promo__text {
  color: white;
}

.consultants {
  margin-bottom: 100px;
}
.consultants__box {
  display: flex;
  justify-content: space-between;
}

.consultant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.consultant__name {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.consultant__post {
  font-size: 26px;
}

.partners {
  padding-top: 25px;
  padding-bottom: 25px;
}
.partners > {
  color: rgb(16, 101, 181);
}
.partners__box {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.partners__name {
  font-size: 38px;
}
.partners__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

.lots {
  margin-top: 100px;
  margin-bottom: 100px;
}
.lots__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lots__lot {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.lots__lot__title {
  font-size: 28px;
  margin-top: 20px;
}
.lots__lot__price {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.lots__lot__text {
  text-align: center;
}

.form {
  margin-bottom: 100px;
}
.form__title {
  font-size: 36px;
  margin-bottom: 15px;
}
.form__description {
  font-size: 24px;
}
.form__text__box {
  margin-bottom: 15px;
}
.form__form {
  display: flex;
  justify-content: space-between;
}
.form__input {
  padding: 10px 20px;
  border: 1px solid rgb(16, 101, 181);
  border-radius: 25px;
  font-size: 24px;
}
.form__input__submit {
  padding: 10px 20px;
  border: 1px solid rgb(16, 101, 181);
  color: rgb(16, 101, 181);
  font-size: 24px;
  border-radius: 25px;
}
.form__email__sub {
  margin-bottom: 15px;
  font-size: 36px;
}/*# sourceMappingURL=style.css.map */